* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #0f2027, #203a43);
  color: white;
  transition: all 0.3s ease;
}

body[data-theme="dark"] {
  background: linear-gradient(120deg, #0f2027, #203a43);
  color: rgb(0, 0, 0);
}

body[data-theme="light"] {
  background: #100f0f;
  color: #dcd5d5;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.sidebar-item {
  padding: 15px 20px;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateX(5px);
  cursor: pointer;
}

/* PLAYER */
.player {
  flex: 3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ALBUM ART */
.album-art {
  width: 600px;
  height: 600px;
  background: #393737;
  border-radius: 12px;
  overflow: hidden;
}

.album-art img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* PROGRESS */
.progress-box {
  width: 100%;
  max-width: 420px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#progress {
  flex: 1;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.controls button {
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: rgba(255,255,255,0.1);
  color: inherit;
  transition: all 0.2s ease;
}

.controls button:hover {
  background: rgba(255,255,255,0.2);
}

.play {
  background: #1db954;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VOLUME */
.volume {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.volume input[type="range"] {
  width: 150px;
}

/* THEME TOGGLE */
.theme-toggle button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  color: inherit;
  transition: all 0.2s ease;
}

.theme-toggle button:hover {
  background: rgba(255,255,255,0.2);
}

/* PLAYLIST */
.playlist {
  flex: 1;
  background: rgba(0,0,0,0.35);
  overflow-y: auto;
  padding: 10px;
}

.song {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.song img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

.song.active,
.song:hover {
  background: rgba(255,255,255,0.15);
}

/* MOBILE */
@media (max-width: 768px) {
  .album-art {
    width: 260px;
    height: 260px;
  }

  .sidebar {
    display: none; /* hide sidebar on small screens */
  }
}
